<h1>Vocab</h1>

<section>
  <h2>最新の単語帳</h2>
  <ul>
    <% @latest_word_books.each do |word_book| %>
      <li>
        <%= link_to word_book.title, word_book_path(word_book) %>
        (作成日: <%= l word_book.created_at, format: :short %>)
      </li>
    <% end %>
  </ul>
</section>

<section>
  <h2>検索</h2>
  <%= link_to "英単語を検索", search_words_path, class: "btn btn-primary" %>
</section>
